.btn
{
    text-align: center;
    background-color: #FF8627;
    color: white;
    font-family: Verdana;
    display: inline;
}
.back 
{
	background-color: #505050;
    box-shadow: 0 10px 6px -6px #777;
    padding: 20px;
	margin-left: auto;
	margin-right: auto;
    
}
.wrap
{ 
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px; 
	background-color: #CACACA;
}
.input-fields
{
	padding: 10px;
	margin: 10px;
}
.form-control
{
	background-color: white;
	color: #505050;

}
.form-control:hover
{
	border-color: #FF8627;
}
body
{
	width:100%;
	margin:0 auto;
	padding: 0px;
	position: relative;
}

@media screen and (min-width:990px) {
   .back {
      width: 600px;
   }
}

@media screen and (min-width: 700px) {
   .back {
      width: 500px;
   }
}
@media screen and (min-width: 500px){
	.back {
		width: 350px;
	}
}
@media screen and (min-width: 320px){
.back{
     width: 290px;
}
}


 