@font-face{
	font-family: 'roboto';
	src: url(fonts/Roboto-Light.ttf);
}
.navbar-inverse{
      color: white;
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: 'Bitter', serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand{
	font-family: 'roboto';
	font-size: 30px;
}
.navbar-inverse .navbar-brand:hover{
	color: white;
	background-color: #18bc9c;
	border-radius: 4px;
}
.navbar-inverse .navbar-nav a{
	color: white;
	font-size: 20px;
}
.navbar-inverse .navbar-nav li:hover{
	color: black;
	background-color: #18bc9c;
	border-radius:4px;
}
.container-fluid
{
	padding-left: 0px;
	padding-right: 0px;
}
.first-img{
	position: relative;
	padding-top: 40px;
}
.first-img img.img-responsive{
	height: 600px; 
	width: 1350px;
}
.head-page h3{
    font-family: Arial,sans-serif; 
	background-color: rgba(10, 14, 14, 0.68);
	border-radius: 5px;
	font-size: 35px;
	text-transform: uppercase;
	position: relative;
        left: 0;
        width: 100%;
}
.carousel-caption .head-page{
	bottom: 150px;
}
.item img {
	height: 380px ; 
	width: 1340px;
}
.page2
{
	background-color: #18bc9c;
	padding-top: 40px;
	padding-bottom: 40px;
}
.portfolio-img .col-md-4{
	padding: 10px;
}
.portfolio-img img
  {
	margin: 0 auto;
	height: 250px;
	width: 255px;
	padding:10px;
	box-shadow:  0 1px 1px 0 rgba(0, 0, 0, 0.40);
	-webkit-transition: width 0.2s,height 0.2s;
        transition: width 0.2s,height 0.2s;
        transition-timing-function: ease-out;
   }
  .portfolio-img img:hover{
  	background: 3px rgba(251,192,12,0.84);
        width: 260px;
        height: 255px; 
  }
.first-img .img-responsive{
    display: block;
    max-width: 100%;
    height: auto; !important
    height:345px; 
    width:1350px;
  }
  .head-section{
  	text-align:center;
  	font-size:35px;
  	font-weight: 400;
  	color:white;
  	text-transform: uppercase;
  	font-family: 'Merienda One';
  	}
.page3{
	background-color:  #2c3e50;
}
.third-page{
  padding: 80px;
}
.third{
	float: left;
	color: white;
}
.para{
	padding-right: 30px;
	padding-left: 30px;
	text-align: justify;
        font-family: 'roboto';
         font-size: 20px;
}
.page4{
	background-color: #2c3e50;
	padding-top: 40px;
	padding-bottom: 40px;
}
.team-leader{
	background-color: #18bc9c;
	padding-top: 30px;
	padding-bottom: 30px;
}
.team  img{
	margin: 0 auto;
	height: 280px;
	width: 280px;
}
.team img:hover{
	border:3px solid white;
	height: 284px;
	width: 284px;
}
.team h4{
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-family: 'Bitter', serif;
}
.team p{
	font-size: 18px;
	color: white;
	font-family: 'roboto';
}
.app-section {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: white;
}
.app-section p{
	font-weight: 200;
	font-size:24px;
	font-family: 'roboto';
	font-weight: 700;
	}
.app-section .btn{
		font-family: 'roboto';
		font-size: 20px;
         }
.form-control{
	background: none;
	border: none;
	box-shadow: none;
	color: white;
	border-bottom: 1px solid #a4a4a4;
    margin-bottom: 20px;
    border-radius: 0px;
    font-size: 20px;
    font-family: 'roboto';
}
.btn{
    padding: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
#footer{
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #1A202D;
	color: white;
}
#footer img{
	height: 42px;
	width: 42px;
	padding: 0px;
	transition-timing-function: ease-in;
}
#footer li{
    list-style:none;
	display: inline;
}
.footer-heading{
	text-align:center;
	font-size:20px;
	text-decoration:underline;
	font-family: 'Bitter', serif;
}
.foot-part{
	font-family: 'Fontin', sans-serif;
        font-size: 15px;
}
#footer-last{ 
	background-color: #030917;
	color:white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	text-align: right;
}
@media screen and (min-width: 767px) {
	.head-page h3{ 
	font-weight: 450; 
	font-size: 40px;
} 
}
@media screen and (max-width: 412px) { 
	.head-page h3{
        font-weight: 200;
	font-size: 15px; 
    } 
}
